<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "META-INF/log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

   <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
      <param name="Target" value="System.out"/>
      <param name="Threshold" value="TRACE"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] %t [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
      <param name="File" value="./logs/jpatest.log"/>
      <param name="MaxFileSize" value="32MB"/>
      <param name="MaxBackupIndex" value="3"/>
      <param name="Threshold" value="TRACE"/>
      <param name="Append" value="false"/>
      <param name="encoding" value="UTF-8"/>

      <layout class="org.apache.log4j.PatternLayout">
         <param name="ConversionPattern" value="[%d] %t [%p,%c:%L] %m%n"/>
      </layout>
   </appender>

   <logger name="org.hibernate.internal">
	  <level value="INFO"/> 
   </logger>
   <logger name="org.hibernate.engine.internal">
	  <level value="INFO"/> 
   </logger>
   <logger name="org.hibernate.id">
	  <level value="INFO"/> 
   </logger>
   <logger name="org.hibernate.SQL">
	  <level value="DEBUG"/> 
   </logger>
   <logger name="org.hibernate.type">
	  <level value="TRACE"/> 
   </logger>
   <logger name="org.hibernate.ejb">
	  <level value="INFO"/> 
   </logger>
   <logger name="org.hibernate.cfg">
	  <level value="INFO"/> 
   </logger>
   <logger name="org.hibernate.persister">
	  <level value="INFO"/> 
   </logger>
   <logger name="org.hibernate.loader">
	  <level value="INFO"/> 
   </logger>
   <logger name="org.hibernate.stat">
	  <level value="DEBUG"/> 
   </logger>
   <logger name="org.hibernate">
	  <level value="INFO"/> 
   </logger>

   <logger name="org.springframework">
	  <level value="INFO"/> 
   </logger>
 
   <logger name="org.springframework.orm.jpa">
	  <level value="DEBUG"/> 
   </logger>

   <logger name="org.apache">
	  <level value="INFO"/> 
   </logger>

   <logger name="jpa">
	  <level value="DEBUG"/>
   </logger>

   <root>
      <level value="DEBUG"/>
      <appender-ref ref="CONSOLE"/>
      <appender-ref ref="FILE"/>
   </root>
</log4j:configuration>
